html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Virtuos
    link(rel="stylesheet", href="../content.css", type="text/css")
  body.app
    h1.app__title Virtuos
    p.app__subtitle Browse your gallery

    p.app__user <span> #{mes} </span> 